$content-width: 60rem;

section {
  padding: 3rem 1.5rem;
}

.content {
  @include clearfix;
  max-width: $content-width;
  width: 100%;
}

@media screen and (max-width: $phone-landscape-max) {
  .content {
    padding: 0;
    width: 100%;
  }

  section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
