nav {
  padding: 4rem;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;
  
  .spacer {
    flex: 1;
  }
}

nav, nav ul {
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 1.5rem;
  height: 1.2rem;
  position: relative;

  &.active::after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 3px;
    background-color: $black;
  }

  &:last-child {
    margin-right: 0;
  }
}
