@import 'lib/reset.min';
@import 'media_queries';
@import 'colors';
@import 'animations';
@import 'typography';
@import 'base';
@import 'layout';
@import 'responsive';
@import 'nav';

.main {
  position: relative;
  z-index: 1;
}

header {
  display: flex;
  padding: 1rem 1.5rem;

  h1 {
    flex: 1;
  }
}

.bio {
  max-width: 55rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  position: relative;

  h2 {
    position: relative;
    z-index: 3;
    padding-left: 17rem;
    padding-top: 6rem;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 25rem;
  }
}
