---
layout: page
activeTab: pedagogy
ledeTitle: A teacher at heart
ledeImageUrl: isaac-trees-vertical-alt.jpg
ledeContent:
  - |
    I have consistently taught private lessons to bass players, pianists, and other instrumentalists since 2010. I have also had the opportunity to teach over a dozen jazz clinics, including two separate visits to the annual Panama Jazz Festival where I both taught and performed. I studied music pedagogy at Berklee and I continue to research pedagogy on my own time. In the last year I have participated in teacher training programs and workshops where I have learned the basics of Suzuki, Kodály, and Orff Schulwerk methods. Currently I teach music classes part time at a Manhattan private school and part time in an El Sistema based after school strings program.
  - |
    My students have gone on to win statewide competitions including positions in the Massachusetts All State Jazz Band & Orchestra and scholarships to summer music festivals and camps. Some have participated in festivals like the Newport Jazz Festival, while others continue their study of music at nationally-ranked institutions like McGill and Northwestern University.
---


<section>
    <div class="section-area">
        <div class="section-header">
            <h3>Private Lessons</h3>
        </div>
        <div class="section-content">
            <p>After ten years of teaching, I feel that I've begun to develop a personal style. I've found myself zeroing in on a few key qualities I want to cultivate in my students and in my self. I believe that 'fit' is hugely important in teaching, and so I’ve written down some thoughts to help you decide if I'm the teacher for you.</p>
            <p>At the center of my practice both as a musician and an educator is a devotion to personal growth and discovery. I find this for myself by teaching in varied contexts, from school classrooms to one-on-one lessons, to sharing volunteer masterclasses with interested students as far away as Panama. Service is important for me: I'm lucky to be able to make my living doing this, and I feel it's part of my responsibility to teach as widely and openly as I can.</p>
            <p>No matter the context it is my goal to share with my students the lessons I have learned through music and to help them uncover their own. Some of these lessons are what one might commonly expect: from how to hold an instrument to basic music theory. On top of these skills we build more abstract ones: how to use music to improve oneself, to create joy and thought and feeling, or how to foster a strong collaborative environment in a band or project, the list is nearendless. As such I am constantly striving to inspire personal connections to the music and a stronger sense of community.</p>
            <blockquote>
                <p>&ldquo;[Isaac] is an excellent teacher; attuned to my needs, very good at explaining things, patient, very good at getting me to understand what I need to know. I look forward to learning upright bass with him!&rdquo; – Victoria D.</p>
            </blockquote>
            <div class="buttons">
                <a class="button button-secondary" target="_blank" href="mailto:music@isaaclevien.com">Book a lesson</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="section-area">
        <div class="section-header">
            <h3>Workshops</h3>
        </div>
        <div class="section-content">
            <div class="image-grid">
                {% include resimg.html src='panama-jazz-teaching-1.jpeg' class='has-viewer' %}
                {% include resimg.html src='elementary-school-workshop.png' class='has-viewer' %}
                {% include resimg.html src='panama-jazz-teaching-2.jpeg' class='has-viewer' %}
            </div>
            <p>Throughout my career, I have had many opportunities to teach clinics in jazz music and improvisation to students ranging in age from elementary to adult.</p>
            <p>Currently, I am a part of the music faculty at the Heschel School in New York City, as well as teaching after school with the nonprofit Harmony Program.</p>
        </div>
    </div>
</section>







