---
layout: page
activeTab: performance
ledeTitle: Performance
ledeImageUrl: banff-blue.jpg
ledeContent:
  - |
    Whether I’m on the main stage at the Panama Jazz Fest or on a Brooklyn rooftop with a few old friends, I’m never happier than when I’m on my feet with my bass in my hands.

  - |
    Below are a few videos, articles, and recordings from my last couple years. Enjoy!
---

<section>
    <div class="section-area">
        <div class="section-header">
            <h3>Final day of the Panama Jazz Festival</h3>
        </div>
        <div class="section-content">
            <a href="https://www.jazziz.com/final-day-panama-jazz-festival/" target="_blank">
                {% include resimg.html src='panama-article.jpg' class='has-viewer' %}
            </a>

            <p><a href="https://www.jazziz.com/final-day-panama-jazz-festival/"></a></p>
            <blockquote>
                <p>&ldquo;The informality of the festival is one of its main attractions; in the above photo, bassist Lee Seung-Ha of the Panama Jazz All Stars shares the stage with bassist Isaac Levien of the ensemble presented by the Berklee Global Jazz project. Seung-Ha boldly asked the group’s guest artist, drummer Terri Lyne Carrington if he could sit in, and she said, “Why not?” The interplay between the two bassists provided one of many festival highlights.&rdquo;</p>
            </blockquote>
            <div class="buttons">
                <a class="button button-secondary" target="_blank" href="https://www.jazziz.com/final-day-panama-jazz-festival/">Jazziz</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="section-area">
        <div class="section-header">
            <h3>International Workshop in Jazz and Creative Music</h3>
            <h5>Banff Center for the Arts and Creativity</h5>
        </div>
        <div class="section-content">
            {% include resimg.html src='banff-group.jpg' class='has-viewer' %}
            <p>I had the great opportunity to perform at the International Workshop in Jazz and Creative Music, at the Banff Center for the Arts and Creativity. This is what my description of that experience would look like. This is what my description of that experience would look like.</p>
        </div>
    </div>
</section>

<section>
    <div class="section-area">
        <div class="section-header">
            <h3>Betty Carter's Jazz Ahead</h3>
            <h5>The final performance concluding a three week long residency at the Kennedy Center in Washington DC</h5>
        </div>
        <div class="section-content">
            <div class="video media">
                <iframe src="https://www.youtube.com/embed/XxQAOff27Cs" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <p>I was honored to be among a handful of other phenomenal musicians selected to participate in this esteemed program. My ensemble of musicians from around the world spent our time workshopping one another's compositions. We received much guidance from such greats as Jason Moran, Betty Carter, Casey Benjamin and more. My ensemble had the pleasure of opening the final concert of the residency.</p>
        </div>
    </div>
</section>

<section>
    <div class="section-area">
        <div class="section-header">
            <h3>The Blessing - Ornette Coleman</h3>
            <h5>David Adewumi - Trumpet</h5>
            <h5>Amir Bar-Akiva - Drums </h5>
            <h5>Video Credit - Olivia Chindamo</h5>
            <h5>Audio Credit - Isaac Levien</h5>
        </div>
        <div class="section-content">
            <div class="video media">
                <iframe src="https://www.youtube.com/embed/X8s-W9WF2EQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="section-area">
        <div class="section-header">
            <h3>Penta (Miguel Zenón) – Kevin Sun Graduation Recital</h3>
            <h5>Kevin Sun – tenor saxaphone</h5>
            <h5>Chris McCarthy – piano</h5>
            <h5>Jonathan Starks – drums</h5>
        </div>
        <div class="section-content">
            <div class="video media">
                <iframe src="https://www.youtube.com/embed/JvUcXG4Umd4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="section-area">
        <div class="section-header">
            <h3>Terra</h3>
            <h5>Duo with David Adewumi, dedicated to the dirt below.</h5>
        </div>
        <div class="section-content">
            <div class="video media">
                <iframe src="https://www.youtube.com/embed/-1v8XTl8DNQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
