{{#extend "page"}}
{{#content "lede" mode="prepend"}}
<h2>Composer, Bassist, Multidisciplinary Artist, Educator</h2>
{{/content}}
{{#content "imgUrl" mode="replace"}}/img/isaac-wall-vertical-alt.jpg{{/content}}
{{/extend}}
{{#content "main"}}
<section></section>
<section></section>
{{/content}}
