@import 'base';

.gigs {
    margin: 0;
    padding: 0;
    list-style: none;
    .gig {
        width: 100%;
        p {
            margin: 0;
        }
        .title {
            font-weight: 700;
        }
        .date {
            float:right;
        }
        .details {
            display: none;
        }
        .item {
            cursor: pointer;
            .clearfix;
        }
        .actions {
            opacity: 0;
            .transition(0.2s);
            display: inline;
            margin-left: 0.25rem;
            span a {
                padding: 0.25rem;
            }
        }
        &:hover .actions {
            opacity: 1;
        }
    }
}