@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
  }

  50% {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in-up-delay-1 {
  0% {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
  }

  57% {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in-up-delay-2 {
  0% {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
  }

  62% {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

$a-fade-in-up: fade-in-up 1s ease;
$a-fade-in-up-delay-1: fade-in-up-delay-1 1.15s ease;
$a-fade-in-up-delay-2: fade-in-up-delay-2 1.3s ease;
