$content-width: 60rem;

section {
  padding: 8rem 1.5rem;
}

.section-area {
  @include clearfix;
  max-width: $content-width;
  width: 100%;
  margin: 0 auto;
  display: flex;

  .section-header {
    width: 20rem;
    padding-right: 3rem;
  }

  .section-content {
    flex: 1;
  }
}

.section-content {
  p {
    margin-bottom: 1rem;
  }

  > figure, > iframe, > .media {
    margin: 2rem 0;
  }

  > p, > figure, > iframe, > .media {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

header {
  display: flex;
  position: relative;
  width: 100%;

  .lede-image-wrapper {
    height: 100vh;
    position: fixed;
    z-index: 10;

    figure {
      border: 1.5rem solid $white;
      height: 100%;
    }

    h1 {
      color: $white;
      left: 4rem;
      position: absolute;
      top: 4rem;
      z-index: 100;
    }

    &.stapled-bottom {
      bottom: 0;
      position: absolute;
    }
  }

  .lede-image-spacer {
    flex-shrink: 0;
    margin-right: 3rem;
  }

  .lede {
    max-width: 35rem;
    min-height: 100%;
    padding: 15rem 3rem 0 1.5rem;

    p {
      margin-bottom: 1.1rem;
    }

    h2, p {
      animation: $a-fade-in-up;
    }

    .button-main {
      animation: $a-fade-in-up-delay-1;
    }

    .button-secondary {
      animation: $a-fade-in-up-delay-2;
    }
  }
}

.video {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
  }
}

.soundcloud-wrapper {
  height: 166px;
}

.instagram-wrapper > .instagram-media {
  width: 100%;
  max-width: none !important;
  margin: 0 !important;
  border: 0 !important;
}

.section-content > .media {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba($black, .5);
  overflow: hidden;
}

.image-grid {
  display: flex;
  margin-bottom: 2rem;
  align-items: flex-start;
  width: 100%;

  figure {
    flex: 1;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &.close-top {
    margin-top: -1rem;
  }
}

@media screen and (max-width: $tablet-landscape-max) {
  header .lede-image-wrapper figure {
    width: 75%;
  }
}

@media screen and (max-width: $tablet-portrait-max) {
  header .lede-image-wrapper figure {
    width: 50%;
  }
}

@media screen and (max-width: $phone-landscape-max) {
  header {
    flex-direction: column;

    .lede-image-wrapper {
      max-height: 25rem;
      position: relative;

      &.stapled-bottom {
        bottom: auto;
        position: relative;
      }

      figure {
        overflow: hidden;
        width: 100%;

        img {
          top: auto;
          bottom: 0;
        }
      }
    }

    .lede-image-spacer {
      display: none;
    }

    .lede {
      padding-top: 3rem;
    }
  }

  .section-area {
    flex-direction: column;

    .section-header {
      padding-right: 0;
      padding-bottom: 1rem;
      width: 100%;
    }
  }

  section {
    padding: 3rem 1.5rem;
  }
}

@media screen and (max-width: $phone-portrait-max) {
  header .lede-iamge-wrapper figure img {
    margin-top: 0;
  }
}
