// Font weights
$semi-bold: 600;
$regular: 400;
$light: 300;

$sans: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

h1, %h1 {
  font-size: 1.25rem;
  font-weight: $semi-bold;
  line-height: 1;
  // text-shadow: 0 0 10px rgba($black, 0.5);
}

h2, %h2 {
  font-size: 3.5rem;
  font-weight: $semi-bold;
  line-height: 1.1;
  margin-bottom: 2rem;
}

h3, %h3 {
  font-size: 2rem;
  font-weight: $semi-bold;
  line-height: 1.1;
  margin-bottom: 1rem;

  &.light {
    font-weight: $light;

    a {
      border-bottom: none;
    }
  }
}

h4, %h4, li {
  font-size: 0.875rem;
  font-weight: $semi-bold;
  letter-spacing: 0.5px;
  line-height: 1;
  text-transform: uppercase;
}

h5, %h5 {
  font-size: 0.9rem;
  font-weight: $light;
  opacity: 0.8;
}

p, .p {
  font-size: 1rem;
}

strong {
  font-weight: $semi-bold;
}

h2, h3, h4, h5, p {
  a {
    border-bottom: 1px solid $black;
    transition: 0.2s linear opacity;

    &:hover {
      opacity: 0.5;
    }
  }
}

blockquote {
  border-left: 3px solid $black;
  font-style: italic;
  padding: 1rem 0 1rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: $tablet-landscape-max) {
  h2, %h2 {
    font-size: 2.5rem;
  }
}


@media only screen and (max-width: $phone-landscape-max) {
  h2, %h2 {
    font-size: 2rem;
  }
}

