@import 'lib/reset.min';
@import 'media_queries';
@import 'colors';
@import 'animations';
@import 'typography';
@import 'base';
@import 'layout';
@import 'responsive';
@import 'progressive';
@import 'nav';

header {
  width: 100%;
  display: flex;
  position: relative;

  .lede-image-wrapper {
    height: 100vh;
    position: fixed;
    z-index: 10;

    figure {
      border: 1.5rem solid $white;
      height: 100%;
    }

    h1 {
      color: $white;
      position: absolute;
      left: 4rem;
      top: 4rem;
      z-index: 100; 
    }

    &.stapled-bottom {
      position: absolute;
      bottom: 0;
    }
  }

  .lede-image-spacer {
    flex-shrink: 0;
    margin-right: 3rem;
  }

  .lede {
    max-width: 35rem;
    min-height: 100%;
    padding: 15rem 3rem 0 1.5rem;

    p {
      margin-bottom: 1.1rem;
    }

    h2, p {
      animation: $a-fade-in-up;
    }
  }
}

.main {
  position: relative;
  z-index: 1;
}

.bio {
  max-width: 55rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  position: relative;

  h2 {
    position: relative;
    z-index: 3;
    padding-left: 17rem;
    padding-top: 6rem;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 25rem;
  }
}

.project {
    display: flex;

    h3 {
        width: 20rem;
        flex-shrink: 0;
    }
}
