{% extends "admin/base.html" %}
{% import "macros.html" as macros %}

{% block admin_content %}
<h3>Edit Gigs</h3>
<div class="card">
    <p>Upcoming apperances:</p>
    <ul class="gigs">
        {% for gig in gigs %}
            {{ macros.render_gig(gig, controls=True) }}
        {% endfor %}
    </ul>
</div>
<form id="gig-form" action="{{ url_for('admin.gigs') }}" method="POST">
    {{ form.csrf_token }}

    <h4>New Gig</h4>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {{ macros.render_field(form.gig_id, class="hidden") }}
    <div class="form-control-double">
        {{ macros.render_field(form.date, class="half") }}
        {{ macros.render_field(form.time, class="half") }}
    </div>
    {{ macros.render_field(form.location) }}
    {{ macros.render_field(form.band) }}
    {{ macros.render_field(form.details) }}
    <input type="submit" value="Save" />
</form>
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript"
        src="{{ url_for('static', filename='js/vendor/jquery.autogrowtextarea.min.js')}}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/gigs.js')}}"></script>
{% endblock %}
