<nav>
    <div class="spacer"></div>
    <ul>
        <li{{#if this.projectsActive }} class="active"{{/if}}><a href="/projects/">Projects</a></li>
        <li{{#if this.performanceActive }} class="active"{{/if}}><a href="/performance">Performance</a></li>
        <li{{#if this.pedagogyActive }} class="active"{{/if}}><a href="/pedagogy">Pedagogy</a></li>
    </ul>
</nav>
