{{#extend "base"}}
{{#content "body" mode="prepend"}}

{{#block "nav"}}
{{> "nav" }}
{{/block}}
<header>
    <div class="lede-image-wrapper" id="lede-image-wrapper">
        <img id="lede-image" src="{{#block "imgUrl"}}/img/isaac-wall-vertical.jpg{{/block}}" alt="">
        <h1><a href="/">Isaac Levien</a></h1>
    </div>
    <div class="lede-image-spacer" id="lede-image-spacer"></div>
    <div class="lede" id="lede">
        {{#block "lede"}}
        {{/block}}
    </div>    
</header>
<div class="main">
    {{#block "main"}}
    {{/block}}
</div>

{{/content}}
{{/extend}}
