.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}
@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
form {
  text-align: left;
  max-width: 30rem;
  margin: 0 auto;
}
form.inline .form-control,
form.inline input {
  display: inline-block;
  vertical-align: top;
}
form.inline .form-control {
  width: 75%;
}
form.inline .form-control.invalid + input[type="submit"] {
  border-bottom-width: 0;
}
form.inline input[type="submit"] {
  width: 25%;
  margin-top: 1.5rem;
}
input:not([type="submit"]),
textarea {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  color: white;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"])::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"]):-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"])::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"]):-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
textarea {
  resize: vertical;
}
label {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}
input[type="submit"] {
  border-radius: 0;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4rem;
}
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="submit"]:hover {
  background-color: #eeeeee;
}
form .errors li {
  background-color: #ff530d;
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
}
.form-control {
  margin-bottom: 1rem;
}
.form-control.invalid input {
  border-color: #ff530d;
}
.form-control.hidden {
  display: none;
}
.form-control.half {
  display: inline-block;
  width: 48%;
  float: left;
}
.form-control.half + .half {
  margin-left: 4%;
}
.form-control-double:after {
  content: ' ';
  display: block;
  clear: both;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
p,
.p {
  font-size: 1rem;
  line-height: 1.4rem;
}
h1,
.h1 {
  font-weight: 100;
  font-size: 5rem;
  line-height: 6rem;
  margin: 0;
  padding: 0;
}
h2,
.h2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 1rem;
  padding: 0;
}
h3,
.h3 {
  font-weight: 300;
  line-height: 6rem;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
h4,
.h4 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
}
h5,
.h5 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
h6,
.h6 {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
a:hover {
  color: inherit;
  border-bottom: 1px solid white;
  text-decoration: none;
}
a.no-underline:hover {
  border-bottom: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li,
ol li {
  display: inline-block;
}
.soundcloud-urls li {
  height: 150px;
  line-height: 4rem;
  display: block;
  margin-top: 1rem;
}
.draggable {
  position: relative;
}
.draggable .draggable-content {
  position: relative;
  z-index: 1;
}
.draggable .overlay {
  z-index: 2;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
.draggable .overlay span {
  display: none;
  position: absolute;
}
.draggable .overlay .message {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.draggable .overlay .delete {
  top: 0;
  right: 0;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.draggable .overlay .delete i {
  display: block;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.draggable .overlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.draggable .overlay:hover span {
  display: block;
}
#status label {
  display: none;
}
#status label i {
  margin-right: 0.5rem;
}
#status.saving .status-saving {
  display: block;
}
#status.saved .status-saved {
  display: block;
}
#status.error .status-error {
  display: block;
}
#status .fa-spinner {
  -webkit-animation: rotate 1s ease-in-out infinite;
  animation: rotate 1s ease-in-out infinite;
}
h4 {
  margin: 0.5rem 0;
}
nav.admin-nav {
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
}
nav.admin-nav ul li {
  display: inline-block;
  padding: 1rem 1rem 1rem 0;
  height: 1rem;
  vertical-align: top;
}
nav.admin-nav ul li.icon {
  padding: 0;
  height: 3rem;
  width: 3rem;
}
nav.admin-nav ul li.icon i {
  padding: 1rem;
  height: 1rem;
  width: 1rem;
}
.admin-content-wrapper {
  position: fixed;
  top: 3rem;
  bottom: 0;
  left: 0;
  right: 50%;
  overflow: hidden;
}
.admin-content-wrapper .admin-content {
  overflow: scroll;
  position: absolute;
  padding-bottom: 3rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.flashes {
  position: absolute;
  right: 2rem;
  -webkit-transform: translateY(-1.75rem);
  -moz-transform: translateY(-1.75rem);
  -o-transform: translateY(-1.75rem);
  transform: translateY(-1.75rem);
}
@media screen and (max-width: 1024px) {
  body,
  html {
    font-size: 14px;
  }
  h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
}
@media screen and (max-width: 640px) {
  .admin-content-wrapper {
    right: 0;
  }
}

.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}
@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
form {
  text-align: left;
  max-width: 30rem;
  margin: 0 auto;
}
form.inline .form-control,
form.inline input {
  display: inline-block;
  vertical-align: top;
}
form.inline .form-control {
  width: 75%;
}
form.inline .form-control.invalid + input[type="submit"] {
  border-bottom-width: 0;
}
form.inline input[type="submit"] {
  width: 25%;
  margin-top: 1.5rem;
}
input:not([type="submit"]),
textarea {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  color: white;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"])::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"]):-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"])::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"]):-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
textarea {
  resize: vertical;
}
label {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}
input[type="submit"] {
  border-radius: 0;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4rem;
}
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="submit"]:hover {
  background-color: #eeeeee;
}
form .errors li {
  background-color: #ff530d;
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
}
.form-control {
  margin-bottom: 1rem;
}
.form-control.invalid input {
  border-color: #ff530d;
}
.form-control.hidden {
  display: none;
}
.form-control.half {
  display: inline-block;
  width: 48%;
  float: left;
}
.form-control.half + .half {
  margin-left: 4%;
}
.form-control-double:after {
  content: ' ';
  display: block;
  clear: both;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
p,
.p {
  font-size: 1rem;
  line-height: 1.4rem;
}
h1,
.h1 {
  font-weight: 100;
  font-size: 5rem;
  line-height: 6rem;
  margin: 0;
  padding: 0;
}
h2,
.h2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 1rem;
  padding: 0;
}
h3,
.h3 {
  font-weight: 300;
  line-height: 6rem;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
h4,
.h4 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
}
h5,
.h5 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
h6,
.h6 {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
a:hover {
  color: inherit;
  border-bottom: 1px solid white;
  text-decoration: none;
}
a.no-underline:hover {
  border-bottom: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li,
ol li {
  display: inline-block;
}
@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}
form {
  text-align: left;
  max-width: 30rem;
  margin: 0 auto;
}
form.inline .form-control,
form.inline input {
  display: inline-block;
  vertical-align: top;
}
form.inline .form-control {
  width: 75%;
}
form.inline .form-control.invalid + input[type="submit"] {
  border-bottom-width: 0;
}
form.inline input[type="submit"] {
  width: 25%;
  margin-top: 1.5rem;
}
input:not([type="submit"]),
textarea {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  color: white;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"])::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"]):-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"])::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"]):-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
textarea {
  resize: vertical;
}
label {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}
input[type="submit"] {
  border-radius: 0;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4rem;
}
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="submit"]:hover {
  background-color: #eeeeee;
}
form .errors li {
  background-color: #ff530d;
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
}
.form-control {
  margin-bottom: 1rem;
}
.form-control.invalid input {
  border-color: #ff530d;
}
.form-control.hidden {
  display: none;
}
.form-control.half {
  display: inline-block;
  width: 48%;
  float: left;
}
.form-control.half + .half {
  margin-left: 4%;
}
.form-control-double:after {
  content: ' ';
  display: block;
  clear: both;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
p,
.p {
  font-size: 1rem;
  line-height: 1.4rem;
}
h1,
.h1 {
  font-weight: 100;
  font-size: 5rem;
  line-height: 6rem;
  margin: 0;
  padding: 0;
}
h2,
.h2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 1rem;
  padding: 0;
}
h3,
.h3 {
  font-weight: 300;
  line-height: 6rem;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
h4,
.h4 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
}
h5,
.h5 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
h6,
.h6 {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
a:hover {
  color: inherit;
  border-bottom: 1px solid white;
  text-decoration: none;
}
a.no-underline:hover {
  border-bottom: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li,
ol li {
  display: inline-block;
}
@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
p,
.p {
  font-size: 1rem;
  line-height: 1.4rem;
}
h1,
.h1 {
  font-weight: 100;
  font-size: 5rem;
  line-height: 6rem;
  margin: 0;
  padding: 0;
}
h2,
.h2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 1rem;
  padding: 0;
}
h3,
.h3 {
  font-weight: 300;
  line-height: 6rem;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
h4,
.h4 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
}
h5,
.h5 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
h6,
.h6 {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
a:hover {
  color: inherit;
  border-bottom: 1px solid white;
  text-decoration: none;
}
a.no-underline:hover {
  border-bottom: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li,
ol li {
  display: inline-block;
}


.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}
@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
form {
  text-align: left;
  max-width: 30rem;
  margin: 0 auto;
}
form.inline .form-control,
form.inline input {
  display: inline-block;
  vertical-align: top;
}
form.inline .form-control {
  width: 75%;
}
form.inline .form-control.invalid + input[type="submit"] {
  border-bottom-width: 0;
}
form.inline input[type="submit"] {
  width: 25%;
  margin-top: 1.5rem;
}
input:not([type="submit"]),
textarea {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  color: white;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"])::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"]):-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"])::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"]):-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
textarea {
  resize: vertical;
}
label {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}
input[type="submit"] {
  border-radius: 0;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4rem;
}
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="submit"]:hover {
  background-color: #eeeeee;
}
form .errors li {
  background-color: #ff530d;
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
}
.form-control {
  margin-bottom: 1rem;
}
.form-control.invalid input {
  border-color: #ff530d;
}
.form-control.hidden {
  display: none;
}
.form-control.half {
  display: inline-block;
  width: 48%;
  float: left;
}
.form-control.half + .half {
  margin-left: 4%;
}
.form-control-double:after {
  content: ' ';
  display: block;
  clear: both;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
p,
.p {
  font-size: 1rem;
  line-height: 1.4rem;
}
h1,
.h1 {
  font-weight: 100;
  font-size: 5rem;
  line-height: 6rem;
  margin: 0;
  padding: 0;
}
h2,
.h2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 1rem;
  padding: 0;
}
h3,
.h3 {
  font-weight: 300;
  line-height: 6rem;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
h4,
.h4 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
}
h5,
.h5 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
h6,
.h6 {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
a:hover {
  color: inherit;
  border-bottom: 1px solid white;
  text-decoration: none;
}
a.no-underline:hover {
  border-bottom: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li,
ol li {
  display: inline-block;
}
form {
  text-align: left;
  max-width: 30rem;
  margin: 0 auto;
}
form.inline .form-control,
form.inline input {
  display: inline-block;
  vertical-align: top;
}
form.inline .form-control {
  width: 75%;
}
form.inline .form-control.invalid + input[type="submit"] {
  border-bottom-width: 0;
}
form.inline input[type="submit"] {
  width: 25%;
  margin-top: 1.5rem;
}
input:not([type="submit"]),
textarea {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  color: white;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"])::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"]):-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"])::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"]):-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
textarea {
  resize: vertical;
}
label {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}
input[type="submit"] {
  border-radius: 0;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4rem;
}
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="submit"]:hover {
  background-color: #eeeeee;
}
form .errors li {
  background-color: #ff530d;
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
}
.form-control {
  margin-bottom: 1rem;
}
.form-control.invalid input {
  border-color: #ff530d;
}
.form-control.hidden {
  display: none;
}
.form-control.half {
  display: inline-block;
  width: 48%;
  float: left;
}
.form-control.half + .half {
  margin-left: 4%;
}
.form-control-double:after {
  content: ' ';
  display: block;
  clear: both;
}

.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}
@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
form {
  text-align: left;
  max-width: 30rem;
  margin: 0 auto;
}
form.inline .form-control,
form.inline input {
  display: inline-block;
  vertical-align: top;
}
form.inline .form-control {
  width: 75%;
}
form.inline .form-control.invalid + input[type="submit"] {
  border-bottom-width: 0;
}
form.inline input[type="submit"] {
  width: 25%;
  margin-top: 1.5rem;
}
input:not([type="submit"]),
textarea {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  color: white;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"])::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"]):-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"])::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"]):-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
textarea {
  resize: vertical;
}
label {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}
input[type="submit"] {
  border-radius: 0;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4rem;
}
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="submit"]:hover {
  background-color: #eeeeee;
}
form .errors li {
  background-color: #ff530d;
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
}
.form-control {
  margin-bottom: 1rem;
}
.form-control.invalid input {
  border-color: #ff530d;
}
.form-control.hidden {
  display: none;
}
.form-control.half {
  display: inline-block;
  width: 48%;
  float: left;
}
.form-control.half + .half {
  margin-left: 4%;
}
.form-control-double:after {
  content: ' ';
  display: block;
  clear: both;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
p,
.p {
  font-size: 1rem;
  line-height: 1.4rem;
}
h1,
.h1 {
  font-weight: 100;
  font-size: 5rem;
  line-height: 6rem;
  margin: 0;
  padding: 0;
}
h2,
.h2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 1rem;
  padding: 0;
}
h3,
.h3 {
  font-weight: 300;
  line-height: 6rem;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
h4,
.h4 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
}
h5,
.h5 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
h6,
.h6 {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
a:hover {
  color: inherit;
  border-bottom: 1px solid white;
  text-decoration: none;
}
a.no-underline:hover {
  border-bottom: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li,
ol li {
  display: inline-block;
}
.gigs {
  margin: 0;
  padding: 0;
  list-style: none;
}
.gigs .gig {
  width: 100%;
}
.gigs .gig p {
  margin: 0;
}
.gigs .gig .title {
  font-weight: 700;
}
.gigs .gig .date {
  float: right;
}
.gigs .gig .details {
  display: none;
}
.gigs .gig .item {
  cursor: pointer;
}
.gigs .gig .item:after {
  content: ' ';
  display: block;
  clear: both;
}
.gigs .gig .actions {
  opacity: 0;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  display: inline;
  margin-left: 0.25rem;
}
.gigs .gig .actions span a {
  padding: 0.25rem;
}
.gigs .gig:hover .actions {
  opacity: 1;
}

.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}
@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
form {
  text-align: left;
  max-width: 30rem;
  margin: 0 auto;
}
form.inline .form-control,
form.inline input {
  display: inline-block;
  vertical-align: top;
}
form.inline .form-control {
  width: 75%;
}
form.inline .form-control.invalid + input[type="submit"] {
  border-bottom-width: 0;
}
form.inline input[type="submit"] {
  width: 25%;
  margin-top: 1.5rem;
}
input:not([type="submit"]),
textarea {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  color: white;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"])::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"]):-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"])::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
input:not([type="submit"]):-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #eeeeee;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
textarea {
  resize: vertical;
}
label {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}
input[type="submit"] {
  border-radius: 0;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4rem;
}
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="submit"]:hover {
  background-color: #eeeeee;
}
form .errors li {
  background-color: #ff530d;
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
}
.form-control {
  margin-bottom: 1rem;
}
.form-control.invalid input {
  border-color: #ff530d;
}
.form-control.hidden {
  display: none;
}
.form-control.half {
  display: inline-block;
  width: 48%;
  float: left;
}
.form-control.half + .half {
  margin-left: 4%;
}
.form-control-double:after {
  content: ' ';
  display: block;
  clear: both;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
p,
.p {
  font-size: 1rem;
  line-height: 1.4rem;
}
h1,
.h1 {
  font-weight: 100;
  font-size: 5rem;
  line-height: 6rem;
  margin: 0;
  padding: 0;
}
h2,
.h2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 1rem;
  padding: 0;
}
h3,
.h3 {
  font-weight: 300;
  line-height: 6rem;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
h4,
.h4 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
}
h5,
.h5 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
h6,
.h6 {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
a:hover {
  color: inherit;
  border-bottom: 1px solid white;
  text-decoration: none;
}
a.no-underline:hover {
  border-bottom: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li,
ol li {
  display: inline-block;
}
.soundcloud-urls li {
  height: 150px;
  line-height: 4rem;
  display: block;
  margin-top: 1rem;
}
.draggable {
  position: relative;
}
.draggable .draggable-content {
  position: relative;
  z-index: 1;
}
.draggable .overlay {
  z-index: 2;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
.draggable .overlay span {
  display: none;
  position: absolute;
}
.draggable .overlay .message {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.draggable .overlay .delete {
  top: 0;
  right: 0;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.draggable .overlay .delete i {
  display: block;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.draggable .overlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.draggable .overlay:hover span {
  display: block;
}
#status label {
  display: none;
}
#status label i {
  margin-right: 0.5rem;
}
#status.saving .status-saving {
  display: block;
}
#status.saved .status-saved {
  display: block;
}
#status.error .status-error {
  display: block;
}
#status .fa-spinner {
  -webkit-animation: rotate 1s ease-in-out infinite;
  animation: rotate 1s ease-in-out infinite;
}
h4 {
  margin: 0.5rem 0;
}
nav.admin-nav {
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
}
nav.admin-nav ul li {
  display: inline-block;
  padding: 1rem 1rem 1rem 0;
  height: 1rem;
  vertical-align: top;
}
nav.admin-nav ul li.icon {
  padding: 0;
  height: 3rem;
  width: 3rem;
}
nav.admin-nav ul li.icon i {
  padding: 1rem;
  height: 1rem;
  width: 1rem;
}
.admin-content-wrapper {
  position: fixed;
  top: 3rem;
  bottom: 0;
  left: 0;
  right: 50%;
  overflow: hidden;
}
.admin-content-wrapper .admin-content {
  overflow: scroll;
  position: absolute;
  padding-bottom: 3rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.flashes {
  position: absolute;
  right: 2rem;
  -webkit-transform: translateY(-1.75rem);
  -moz-transform: translateY(-1.75rem);
  -o-transform: translateY(-1.75rem);
  transform: translateY(-1.75rem);
}
@media screen and (max-width: 1024px) {
  body,
  html {
    font-size: 14px;
  }
  h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
}
@media screen and (max-width: 640px) {
  .admin-content-wrapper {
    right: 0;
  }
}
.gigs {
  margin: 0;
  padding: 0;
  list-style: none;
}
.gigs .gig {
  width: 100%;
}
.gigs .gig p {
  margin: 0;
}
.gigs .gig .title {
  font-weight: 700;
}
.gigs .gig .date {
  float: right;
}
.gigs .gig .details {
  display: none;
}
.gigs .gig .item {
  cursor: pointer;
}
.gigs .gig .item:after {
  content: ' ';
  display: block;
  clear: both;
}
.gigs .gig .actions {
  opacity: 0;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  display: inline;
  margin-left: 0.25rem;
}
.gigs .gig .actions span a {
  padding: 0.25rem;
}
.gigs .gig:hover .actions {
  opacity: 1;
}
.background {
  background-color: #0b0b0b;
  background-image: url(../../img/art.jpg);
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}
body {
  background-color: #0b0b0b;
  background-image: url(../../img/art.jpg);
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}
h1 {
  padding-top: 15%;
}
.scrim {
  background-color: #0b0b0b;
  background-image: url(../../img/art.jpg);
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  position: fixed;
  width: 50%;
  left: 0;
  height: 100%;
  z-index: 1;
}
.more-info {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: -9rem;
  text-transform: none;
  color: #ffffff;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
.more-info:hover {
  right: 0;
}
.more-info li {
  padding: 0.5rem 0.25rem;
}
.more-info li:last-child {
  padding-right: 0.5rem;
}
.more-info li:first-child {
  padding-left: 0.5rem;
}
.more-info i {
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
}
.card {
  max-width: 30rem;
  width: 90%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  margin: 0 auto 1rem;
  color: #000000;
  text-shadow: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.card p {
  margin: 1rem 0 0;
}
.card p:first-child {
  margin-top: 0;
}
.card p:empty {
  display: none;
}
.card p:empty:first-child + p {
  margin-top: 0;
}
.card a {
  font-weight: 700;
}
.card a:hover {
  border-bottom: 0;
  text-decoration: underline;
}
.content {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  width: 50%;
  position: relative;
  z-index: 2;
  min-height: 100%;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.content .inner {
  padding: 2rem 0;
  width: 95%;
}
.content .inner .slide {
  -webkit-animation: fade-in-up 1.5s ease 1;
  animation: fade-in-up 1.5s ease 1;
}
ul.links {
  margin: 0.5rem 0 1.5rem;
}
ul.links li {
  margin-bottom: 1rem;
}
ul.links li a {
  padding: 0.5rem 1rem;
}
ul.links li a i {
  color: white !important;
  font-size: 1.5rem !important;
}
.recordings {
  max-width: 25rem;
  width: 95%;
  margin: 0 auto;
}
.recordings li {
  display: block;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1024px) {
  body,
  html {
    font-size: 14px;
  }
  h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
}
@media screen and (max-width: 640px) {
  body,
  html {
    font-size: 12px;
  }
  .content,
  .scrim,
  .content .inner {
    width: 100%;
  }
}

.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}
