{% macro soundcloud_embed(url) %}
<iframe width="100%"
		height="150"
		scrolling="no"
		frameborder="no"
		src="https://w.soundcloud.com/player/?url={{ url }}&amp;color=000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_artwork=false"></iframe>
{% endmacro %}

{% macro soundcloud_item(url) %}
<li class="draggable" data-url="{{ url }}">
	<div class="draggable-content">
		{{ soundcloud_embed(url) }}
	</div>
	<div class="overlay">
		<span class="delete"><i class="fa fa-times"></i></span>
		<span class="message">Drag to reorder</span>
	</div>
</li>
{% endmacro %}

{{ soundcloud_item(url)}}