{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block body %}
<div class="scrim"></div>
<div class="content">
    <div class="inner">
        {% block content %}
        <h1><a class="no-underline" href="{{ url_for('main.index') }}">Isaac Levien</a></h1>
        <div class="slide">
            <h2>{{ tagline | safe }}</h2>
            <ul class="links">
                <li>
                    <a href="{{ url_for('main.about') }}">
                        About
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('main.music') }}">
                        Music
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('main.gigs') }}">
                        Gigs
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('main.bands') }}">
                        Bands
                    </a>
                </li>
                <li>
                    <a href="mailto:isaac@isaaclevien.co">
                        Email
                    </a>
                </li>
            </ul>
            {% block text %}
            <div class="card">
                <p>{{ short_bio | safe }}</p>
                <p>Upcoming Gigs:</p>
                <ul class="gigs">
                {% for gig in gigs %}
                    {{ macros.render_gig(gig) }}
                {% endfor %}
                </ul>
            </div>
            {% endblock %}
        </div>
        {% endblock %}
    </div>
</div>
<ul class="more-info h6">
    <li><i class="fa fa-info-circle"></i></li>
    <li>Website by <a href="https://schlosser.io">Dan</a></li>
    <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
</ul>
{% endblock %}