{% macro render_field(field, label=True, hidden=False) %}
{% set class = kwargs.get('class', '') + ' form-control' %}
{% if field.errors %}
	{% set class = class + ' invalid' %}
{% endif %}
{% if hidden %}
	{% set class = class + ' hidden' %}
{% endif %}

<div class="{{class}}">

	{% if label %}
	{{ field.label }}
	{% endif %}

	{{ field(**kwargs) | safe }}

	{% if field.errors %}
	<ul class="errors">
	{% for error in field.errors %}
	  	<li>{{ error }}</li>
	{% endfor %}
	</ul>
	{% endif %}

</div>
{% endmacro %}

{% macro render_gig(gig, controls=False) %}
{% set class = kwargs.get('class', '') + ' gig' %}
<li class="{{class}}">
	<div class="item">
		<p class="date">{{gig.date_string()}}</p>
		<p class="title">
			{% if gig.band %}{{gig.band}} at {% endif %}
			{{ gig.location}}
			{% if controls %}
			<span class="actions">
				<span><a href="#delete" data-id="{{gig.id}}"><i class="fa fa-trash"></i></a></span>
				<span><a href="#edit"
						 data-date="{{gig.date}}"
						 data-time="{{gig.time}}"
						 data-location="{{gig.location}}"
						 data-band="{{gig.band}}"
						 data-details="{{gig.details}}"
						 data-id="{{gig.id}}">
					<i class="fa fa-pencil"></i>
				</a></span>
			</span>
			{% endif %}
		</p>
	</div>
	<div class="details">
		{{gig.details_html | safe}}
	</div>
</li>
{% endmacro %}

{% macro status() %}
<div id="status">
	<label class="status-saving">
		<i class="fa fa-spinner"></i> Saving...
	</label>
	<label class="status-saved">
		<i class="fa fa-check"></i> Saved
	</label>
	<label class="status-error">
		<i class="fa fa-times"></i> Error
	</label>
</div>
{% endmacro %}